//-banner
.banner-block
  .wrapper
    .banner
      .banner-title
        h1.title Аренда и покупка<br>
          <span>Недвижимости</span> в Грузии
      .banner-forms
        .category
          .category-forms.category-active
            img.category-icon(src='../assets/images/png/homeheart.png')
            | Недвижимость
          .category-forms.category-deactive
            img.category-icon(src='../assets/images/png/car.png')  
            | Авто
          .category-forms.category-active.category-realty
        .category-items
          .district.category-item
            img.category-item__icon(src='../assets/images/png/point.png')
            | Город, район, ст. метро
          .realty-type.category-item
            img.category-item__icon(src='../assets/images/png/home.png')
            | Тип недвижимости
            img.category-item__icon(src='../assets/images/png/down-black.png')
          .rent.category-item
            | Аренда
          .bue.category-item
            | Покупка
          .price-from.category-item 
            img.category-item__icon(src='../assets/images/png/price.png')
            | Цена, от
            input.price-input(type="text")
          .price-to.category-item
            | Цена, до 
            input.price-input(type="text") 
          .show.category-item
            | Показать 123 предложения