extends ../pug/templates/template
block title
	title GeVel
block append style
block content
	include ../components/header/header.component.pug
	include ../components/banner/banner.component.pug
	

	
block append style
	
block append script
	script(src="/js/debuggrid/debuggrid.component.js")
	script(src="/js/header/header.component.js")