//-header
.header
  .wrapper
    .preheader
      .geo
        img.geo__icon(src='../assets/images/png/geo.png')
        .geo__city &Tcy;&bcy;&icy;&lcy;&icy;&scy;&icy;
      .toggle-currency.toggles
        p.usd.currency__item $
        p.gel.currency__item &#x20BE;
      p.toggle-language.toggles
        | RU
        img(src='../assets/images/png/list.png' alt='list')
    .header-block
      a.link-home(href='#' alt='home')
        img.logo-icon(src='../assets/images/png/logo.png')
      .header-block__nav
        nav.nav__realty &Ncy;&iecy;&dcy;&vcy;&icy;&zhcy;&icy;&mcy;&ocy;&scy;&tcy;&softcy;
        nav.nav__auto &Acy;&vcy;&tcy;&ocy;
        nav.nav__articles &Scy;&tcy;&acy;&tcy;&softcy;&icy;
      img.search-icon(src='../assets/images/png/search.png')
      button.add-ad(type='button')
        img.icon__ad(src='../assets/images/png/plus.png')
        |                         &Pcy;&ocy;&dcy;&acy;&tcy;&softcy; &ocy;&bcy;&hardcy;&yacy;&vcy;&lcy;&iecy;&ncy;&icy;&iecy;
      img.user-icon(src='../assets/images/png/user-icon.png')
